* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card_main {
  transition: all 2s ease-in-out !important;
}
.card_main:hover {
  transform: scale(1.05);
  font-family: monospace;
}
.container {
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.movie_section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card_section {
  width: 500px;
  height: 300px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.movie_details {
  margin: 1rem 1rem 1rem 1rem;
}
@media (max-width: 600px) {
  .card_section {
    height: 40rem;
    width: 93%;
    text-align: center;
  }
  .image_section img {
    margin-top: 18px;
  }
}
.loading_mob {
  position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
}

