*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.card_main {
  transition: all 2s ease-in-out !important;
}
.card_main:hover{
  transform: scale(1.05);
  font-family: monospace;

}
.container {
  height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}